@charset "UTF-8";

:root{
	--cor1: #49a09d;
	--cor2: #5f2c82;
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html, body{
	background-color: var(--cor2);
	width: 100vw;
	height: 100vh;
}

main{
	position: relative;
	width: 100vw;
	height: 100vh;
}

section#login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 250px;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
}

section#login > div#imagem{
	background: var(--cor2) url(../imagens/pexels-aleksandar-pasaric-325185.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	height: 200px;
}

section#login > div#formulario{
	padding: 10px;
}
