@charset "UTF-8";

:root{
	--cor1: #49a09d;
	--cor2: #5f2c82;
}

*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html, body{
	background-color: var(--cor2);
	width: 100vw;
	height: 100vh;
	display: block;
}

main{
	position: relative;
	width: 100vw; 
	height: 100vh;
}

section#login{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 505px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
	transition: width 0.3s, height 0.3s;
	transition-timing-function: ease;
	transform: translate(-50%, -50%);
}

section#login > div#imagem{
	height: 200px;
	display: block;
	background: var(--cor2) url(../imagens/pexels-aleksandar-pasaric-325185.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
}

section#login > div#formulario{
	display: block;
	padding: 10px;
}

div#formulario > h1{
	text-align: center;
	margin-bottom: 10px;
}

div#formulario > p {
	font-size: 0.9em;
}

form > div.campo{
	background-color: var(--cor2);
	width: 100%;
	height: 40px;
	display: block;
	border-radius: 5px;
	margin: 5px 0px;
	border: 2px solid var(--cor2);
}

div.campo > label{
	display: none;
}

div.campo > span{
	color: white;
	font-size: 1.9em;
	width: 40px;
	padding: 5px;
}

div.campo > input{
	background-color: #4cbebb;
	font-size: 1em;
	border: 0px;
	border-radius: 5px;
	padding: 4px;
	width: calc(100% - 47px);
	height: 100%;
	transform: translateY(-11px);
	/* Sempre coloque as animações embaixo */
}

div.campo > input:focus-within{
	background-color: white;
	outline: none;
}

form > input[type=submit]{
	display: block;
	font-size: 1em;
	width: 100%;
	height: 40px;
	background-color: var(--cor1);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form > input[type=submit]:hover{
	background-color: #4cbebb;
}

form > a.botao{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #3b6d6b;
	font-size: 1em;
	width: 100%;
	height: 40px;
	padding-top: 6px;
	margin-top: 5px;
	border: 1px solid var(--cor1);
	border-radius: 5px;
}

form > a.botao:hover{
	background-color: #4cbebb;
	color: white;
}

form > a.botao > span{
	font-size: 0.8em;
}

input#ilogin{
	height: 31px;
	margin-bottom: 1px;
}
input#isenha{
	height: 31px;
	margin-bottom: 1px;
}

